@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.login-bg {
  background-image: url("./assets/login_wallpaper.jpg");
  background-size: cover;      /* растягивает с сохранением пропорций */
  background-position: center; /* центрирует */
  background-repeat: no-repeat;/* убирает повтор */
  width: 100%;
  min-height: 100vh;           /* на всю высоту окна */
}
